In [1]:
import pandas as pd

df4 = pd.read_csv("df_final_demo.txt")

In [2]:
df3 = pd.read_csv("df_final_experiment_clients.txt")

In [3]:
df1 = pd.read_csv("df_final_web_data_pt_1.txt")

In [4]:
df2 = pd.read_csv("df_final_web_data_pt_2.txt")

In [5]:

df1.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [6]:

df2.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [7]:

df3.columns

Index(['client_id', 'Variation'], dtype='object')

In [8]:

df4.columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

In [9]:
df1.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [10]:
df2.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [11]:
dfs = pd.concat([df1, df2], ignore_index=True)

In [12]:
dfs['client_id'].unique()

array([9988021, 8320017, 4033851, ..., 9895983, 9668240,  674799],
      shape=(120157,))

In [13]:
dfs.isnull()

        client_id  visitor_id  visit_id  process_step  date_time
0           False       False     False         False      False
1           False       False     False         False      False
2           False       False     False         False      False
3           False       False     False         False      False
4           False       False     False         False      False
...           ...         ...       ...           ...        ...
755400      False       False     False         False      False
755401      False       False     False         False      False
755402      False       False     False         False      False
755403      False       False     False         False      False
755404      False       False     False         False      False

[755405 rows x 5 columns]

In [14]:
dfs.shape

(755405, 5)

In [15]:
dfs.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [16]:
#checking what the type of date_time
dfs.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [17]:
#convert object into date_time
dfs['date_time'] = pd.to_datetime(dfs['date_time'])

In [18]:
dfs.dtypes

client_id                int64
visitor_id              object
visit_id                object
process_step            object
date_time       datetime64[ns]
dtype: object

In [19]:
df3.columns

Index(['client_id', 'Variation'], dtype='object')

In [20]:
df4.columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

In [21]:
#df_all.head()

In [22]:
dfs.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [23]:
#dfs.sort_values(by=['client_id', 'visitor_id', 'visit_id', 'date_time'], ascending=[True, True, True, True])

In [24]:
dfs.head(10)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:15
6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:01
7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:22
8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05
9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:43

In [25]:
#dfsorted[dfsorted['client_id'] == 442857]

In [26]:
dfs['client_id'].value_counts().head()

client_id
5574879    111
2274658     90
2128341     84
5951379     81
1595223     81
Name: count, dtype: int64

In [27]:
dfs['date_time'].isnull().value_counts()

date_time
False    755405
Name: count, dtype: int64

In [28]:
dfs['visitor_id'].isnull().value_counts()

visitor_id
False    755405
Name: count, dtype: int64

In [29]:
dfs['date_time'].isnull().value_counts()

date_time
False    755405
Name: count, dtype: int64

In [30]:
dfs['visit_id'].isnull().value_counts()

visit_id
False    755405
Name: count, dtype: int64

In [31]:
dfs['visitor_id'].isnull().value_counts()

visitor_id
False    755405
Name: count, dtype: int64

In [32]:
dfs['process_step'].isnull().value_counts()

process_step
False    755405
Name: count, dtype: int64

In [33]:
dfs.isnull().value_counts()

client_id  visitor_id  visit_id  process_step  date_time
False      False       False     False         False        755405
Name: count, dtype: int64

In [34]:
df4.columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

In [35]:
df3.columns

Index(['client_id', 'Variation'], dtype='object')

In [36]:
#df_test.isnull()

In [37]:
dfs['process_step'].unique()

array(['step_3', 'step_2', 'step_1', 'start', 'confirm'], dtype=object)

In [38]:
#merfe dfs + experiment(df3) to have Variaton = Control OR test)
df_mergeexp = dfs.merge(df3, on="client_id", how="left")

In [39]:
#merge with demo(df4) (demographic data)
df_merged = df_mergeexp.merge(df4, on="client_id", how="left")

In [40]:
df_merged.shape

(755405, 14)

In [41]:
#remove duplicates
df_merged = df_merged.drop_duplicates()

In [42]:
#remove rows without any variation
df_merged = df_merged[df_merged["Variation"].isin(["Control", "Test"])]

In [43]:
df_merged.shape

(317235, 14)

In [44]:
df_merged["process_step"].value_counts()

process_step
start      101153
step_1      68210
step_2      56672
step_3      48264
confirm     42936
Name: count, dtype: int64

In [45]:
df_merged["Variation"].value_counts()

Variation
Test       176699
Control    140536
Name: count, dtype: int64

In [46]:
#Give a table for Tests and another for Controls! 
df_control = df_merged[df_merged["Variation"] == "Control"].copy()
df_test = df_merged[df_merged["Variation"] == "Test"].copy()

In [47]:
df_control.shape

(140536, 14)

In [48]:
df_test.shape

(176699, 14)

In [49]:
df_test.isna().sum()

client_id            0
visitor_id           0
visit_id             0
process_step         0
date_time            0
Variation            0
clnt_tenure_yr      58
clnt_tenure_mnth    58
clnt_age            58
gendr               58
num_accts           58
bal                 58
calls_6_mnth        58
logons_6_mnth       58
dtype: int64

In [50]:
df_control.isna().sum()

client_id            0
visitor_id           0
visit_id             0
process_step         0
date_time            0
Variation            0
clnt_tenure_yr      42
clnt_tenure_mnth    42
clnt_age            54
gendr               42
num_accts           42
bal                 42
calls_6_mnth        42
logons_6_mnth       42
dtype: int64

In [51]:
df_test

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637483,1574008,117364417_77840596075,528720790_71583064618_169151,confirm,2017-05-06 23:51:05,Test,10.0,121.0,55.0,U,2.0,153238.83,3.0,6.0
637484,1574008,117364417_77840596075,528720790_71583064618_169151,step_3,2017-05-06 23:50:40,Test,10.0,121.0,55.0,U,2.0,153238.83,3.0,6.0
637485,1574008,117364417_77840596075,528720790_71583064618_169151,step_2,2017-05-06 23:43:47,Test,10.0,121.0,55.0,U,2.0,153238.83,3.0,6.0
637486,1574008,117364417_77840596075,528720790_71583064618_169151,step_1,2017-05-06 23:43:34,Test,10.0,121.0,55.0,U,2.0,153238.83,3.0,6.0
637487,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test,10.0,121.0,55.0,U,2.0,153238.83,3.0,6.0

In [52]:
df_test.nunique()

client_id            26968
visitor_id           29919
visit_id             37136
process_step             5
date_time           164138
Variation                1
clnt_tenure_yr          49
clnt_tenure_mnth       444
clnt_age               157
gendr                    4
num_accts                7
bal                  26907
calls_6_mnth             7
logons_6_mnth            7
dtype: int64

In [56]:
for vid,dfg in df_test.groupby("visit_id"):
    print(dfg)
    break

        client_id            visitor_id                      visit_id  \
108613    3561384  451664975_1722933822  100012776_37918976071_457913
108614    3561384  451664975_1722933822  100012776_37918976071_457913

       process_step           date_time Variation  clnt_tenure_yr  \
108613      confirm 2017-04-26 13:23:09      Test             4.0
108614      confirm 2017-04-26 13:22:17      Test             4.0

        clnt_tenure_mnth  clnt_age gendr  num_accts       bal  calls_6_mnth  \
108613              56.0      59.5     U        2.0  63130.44           6.0
108614              56.0      59.5     U        2.0  63130.44           6.0

        logons_6_mnth
108613            9.0
108614            9.0

In [57]:
dfg

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
108613,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test,4.0,56.0,59.5,U,2.0,63130.44,6.0,9.0
108614,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test,4.0,56.0,59.5,U,2.0,63130.44,6.0,9.0

In [58]:
df_test["process_step"].value_counts()

process_step
start      55773
step_1     38666
step_2     30899
step_3     25761
confirm    25600
Name: count, dtype: int64

In [59]:
df_control["process_step"].value_counts()

process_step
start      45380
step_1     29544
step_2     25773
step_3     22503
confirm    17336
Name: count, dtype: int64

In [63]:
df_test_start = df_test[df_test["process_step"] == "start"]

In [64]:
df_test_step1 = df_test[df_test["process_step"] == "step_1"]

In [ ]:
df_test_step1 = df_test[df_test["process_step"] == "step_2"]

In [ ]:
df_test_step1 = df_test[df_test["process_step"] == "step_3"]

In [ ]:
df_test_step1 = df_test[df_test["process_step"] == "step_4"]

In [ ]:
df_test_step1 = df_test[df_test["process_step"] == "step_5"]

In [66]:
df_test_delta1 = df_test_start.merge(df_test_step1, on='visit_id')

client_id_x                                9988021
visitor_id_x                  580560515_7732621733
visit_id              781255054_21935453173_531117
process_step_x                               start
date_time_x                    2017-04-17 15:16:22
Variation_x                                   Test
clnt_tenure_yr_x                               5.0
clnt_tenure_mnth_x                            64.0
clnt_age_x                                    79.0
gendr_x                                          U
num_accts_x                                    2.0
bal_x                                    189023.86
calls_6_mnth_x                                 1.0
logons_6_mnth_x                                4.0
client_id_y                                9988021
visitor_id_y                  580560515_7732621733
process_step_y                              step_1
date_time_y                    2017-04-17 15:17:01
Variation_y                                   Test
clnt_tenure_yr_y                               5.0
clnt_tenure_mnth_y                            64.0
clnt_age_y                                    79.0
gendr_y                                          U
num_accts_y                                    2.0
bal_y                                    189023.86
calls_6_mnth_y                                 1.0
logons_6_mnth_y                                4.0
Name: 0, dtype: object